@use '../base/variables';
@use '../base/mixins';

.quiz {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: variables.$gap;
    width: 100%;
    min-height: 528px;
    border-radius: variables.$radius;
    padding: 45px 40px;
    margin-bottom: variables.$margin_bottom;
    border: none;
    background-color: variables.$quiz_bcg_color;

    @media (max-width: variables.$sm_max_width) {
        min-height: 460px;
        padding: variables.$padding_sm;
        border-radius: variables.$radius_sm;
    }

    &__question {
        @include mixins.h2_text;

        @media (max-width: variables.$sm_max_width) {
            font-size: 18px;
        }
    }

    &__block {
        position: relative;
        padding: 0;
        border: none;
    }

    &__answer {
        margin-left: 40px;
        display: block;
    }

    &__answer::before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid variables.$main_text_color;
        cursor: pointer;
        transition: all 0.4s;

        @media (max-width: variables.$sm_max_width) {
            width: 25px;
            height: 25px;
        }
    }

    &__radio:checked ~ &__answer::before,
    &__radio:active ~ &__answer::before,
    &__radio:focus ~ &__answer::before {
        border: 1px solid variables.$btn_bcg_color;
        background-color: variables.$btn_bcg_color;
    }

    @media (hover: hover) {
        &__radio:hover ~ &__answer::before {
            border: 1px solid variables.$btn_bcg_color;
            background-color: variables.$btn_bcg_color;
        }
    }

    @media (hover: none) {
        &__radio:active ~ &__answer::before {
            border: 1px solid variables.$btn_bcg_color;
            background-color: variables.$btn_bcg_color;
        }
    }
}
