@use '../base/variables';
@use '../base/mixins';

.result {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 80px;
    margin: 0 auto;
    -webkit-animation-name: result-animation;
    animation-name: result-animation;
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;

    @-webkit-keyframes result-animation {
        from {
            transform: translateY(100%);
        }

        to {
            transform: translateY(0);
        }
    }

    @keyframes result-animation {
        from {
            transform: translateY(100%);
        }

        to {
            transform: translateY(0);
        }
    }

    &__title {
        padding-bottom: 20px;
    }

    &__description {
        font-size: 24px;
        line-height: 140%;
        margin-top: 5px;
        margin-bottom: variables.$margin_bottom;
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: variables.$gap;
        list-style: none;
        margin-bottom: variables.$margin_bottom;
    }

    &__item {
        min-height: 163px;
        width: 100%;
        padding: variables.$padding;
        border-radius: variables.$radius;

        @media (max-width: variables.$sm_max_width) {
            padding: 20px;
        }
    }

    &__item_correct {
        background-color: variables.$correct_color;
    }

    &__item_incorrect {
        background-color: variables.$incorrect_color;
    }

    &__question {
        margin-bottom: 15px;
        @include mixins.question_text;
    }
}
