@use '../base/mixins';
@use '../base/variables';

.title {
    padding-bottom: variables.$padding_bottom_h;
    @include mixins.h1_text;
    margin: 0;
    text-align: left;

    @media (max-width: variables.$sm_max_width) {
        font-size: 36px;
    }
}
