@use '../base/mixins';
@use '../base/variables';

.title {
    padding-bottom: variables.$padding_bottom_h;
    @include mixins.h1_text;
    margin: 0;
    text-align: left;
    -webkit-animation-name: title-animation;
    animation-name: title-animation;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;

    @-webkit-keyframes title-animation {
        from {
            transform: translateY(-100%);
        }

        to {
            transform: translateY(0);
        }
    }

    @keyframes title-animation {
        from {
            transform: translateY(-100%);
        }

        to {
            transform: translateY(0);
        }
    }

    @media (max-width: variables.$sm_max_width) {
        font-size: 36px;
    }
}
