@use './variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::after,
::before {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    height: 100%;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: variables.$main_font_size;
    line-height: variables.$main_line_height;
    letter-spacing: variables.$main_letter_spacing;
    font-style: variables.$main_font_style;
    font-weight: variables.$main_font_weight;
}

.container {
    margin: 0 auto;
    max-width: 886px;
}

@media (max-width: variables.$md_max_width) {
    .container {
        margin: 0 auto;
        max-width: 100%;
        padding: 0 variables.$padding;
    }
}
