@use './variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::after,
::before {
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: variables.$main_font_size;
    line-height: variables.$main_line_height;
    letter-spacing: variables.$main_letter_spacing;
    font-style: variables.$main_font_style;
    font-weight: variables.$main_font_weight;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 886px;
}

@media (max-width: variables.$md_max_width) {
    .container {
        max-width: 100%;
        padding: 0 variables.$padding;
    }
}

@media (max-width: variables.$sm_max_width) {
    body {
        font-size: 18px;
    }
}
