@use './variables';

@mixin h1_text {
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    line-height: 48px;
}

@mixin h2_text {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
}

@mixin question_text {
    @include h2_text;
    font-size: 20px;
}

@mixin btn {
    width: variables.$btn_width;
    height: variables.$btn_height;
    border-radius: variables.$btn_radius;
    border: transparent;
    background-color: variables.$btn_bcg_color;
    color: variables.$btn_text_color;
    cursor: pointer;
}
