$main_text_color: #000000;
$main_bcg_color: #FFFFFF;
$btn_bcg_color: #3300FF;
$btn_hover_color: #6475f3;
$btn_text_color: #FFFFFF;
$correct_color: #E5F5E1;
$incorrect_color: #FFE0E0;
$quiz_bcg_color: #F7F7F7;

$radius: 20px;
$radius_sm: 12px;
$btn_radius: 10px;
$btn_width: 220px;
$btn_height: 54px;
$padding: 40px;
$padding_sm: 20px;
$gap: 18px;
$padding_bottom_h: 25px;
$margin_bottom: 40px;

$main_font_size: 16px;
$paragraph_font_size: 20px;
$main_line_height: 140%;
$main_font_weight: 400;
$main_letter_spacing: 0;
$main_font_style: normal;

$sm_max_width: 576px;
$md_max_width: 886px;